:root {
    /* Primary Color Palette */
    --color-primary-dark: #1D302F;
    --color-primary-mid-green: #36634B;
    --color-primary-green: #487359;
    --color-primary-tan: #CCB670;
    /* Accent Color Palette */
    --color-accent-light-green: #CED18F;
    --color-accent-rust: #AD553D;
    /* Neutrals Palette */
    --color-neutral-light-grey: #F1F1F1;
    --color-neutral-cream: #F1E8CC;
    --color-neutral-grey: #E8E4D9;
    --color-neutral-dark-grey: #222424;
}