@import "fonts.min.css";
@import "color-tokens.min.css";
*,
*::before,
*::after {
    box-sizing: border-box;
}

.mvp-header {
    color: var(--color-primary-green);
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

.mvp-container {
    --mvp-gutter-x: 1.5rem;
    padding-right: calc(var(--mvp-gutter-x) * 0.5);
    padding-left: calc(var(--mvp-gutter-x) * 0.5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.mvp-row {
    --mvp-gutter-x: 1.5rem;
    --mvp-gutter-y: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--mvp-gutter-y));
    margin-right: calc(-0.5 * var(--mvp-gutter-x));
    margin-left: calc(-0.5 * var(--mvp-gutter-x));
}

.mvp-row>* {
    --mvp-gutter-x: 1.5rem;
    --mvp-gutter-y: 0;
    flex-shrink: 0;
    padding-right: calc(var(--mvp-gutter-x) * 0.5);
    padding-left: calc(var(--mvp-gutter-x) * 0.5);
    margin-top: var(--mvp-gutter-y);
    width: 100%;
    max-width: 100%;
}

.mvp-col {
    flex: 1 0 0%;
}

.mvp-col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.mvp-col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.mvp-col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.mvp-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.mvp-col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.mvp-col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.mvp-col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.mvp-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.mvp-col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.mvp-col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.mvp-col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.mvp-col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.mvp-align-self-center {
    align-self: center !important;
}

.mvp-align-items-baseline {
    align-items: baseline !important;
}

.mvp-m-auto {
    margin: auto !important;
}

.mvp-d-block {
    display: block !important;
}

@media (min-width: 0px) and (max-width: 599px) {
    .mvp-container-sm,
    .mvp-container {
        max-width: 540px;
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 720px;
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .mvp-container-xl,
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .mvp-container-xxl,
    .mvp-container-xl,
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 1320px;
    }
}