@import "fonts.min.css";
@import "color-tokens.min.css";
@import "typography-design-tokens.min.css";
:root {
    /* This needs a better home */
    --focus-border: 0 0 0 1px #d3d3d3, 0 0 0 3px #ad553d4d;
    --color-active: #cc836f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--mvp-font-family-text);
    font-size: 16px;
    line-height: 1.2;
}

.mvp-header {
    color: var(--color-primary-green);
}

.mvp-section-heading {
    font-family: var(--mvp-font-family-section-heading);
}

.mvp-container {
    --mvp-gutter-x: 1.5rem;
    padding-right: calc(var(--mvp-gutter-x) * 0.5);
    padding-left: calc(var(--mvp-gutter-x) * 0.5);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.mvp-row {
    --mvp-gutter-x: 1.5rem;
    --mvp-gutter-y: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--mvp-gutter-y));
    margin-right: calc(-0.5 * var(--mvp-gutter-x));
    margin-left: calc(-0.5 * var(--mvp-gutter-x));
}

.mvp-row>* {
    --mvp-gutter-x: 1.5rem;
    --mvp-gutter-y: 0;
    flex-shrink: 0;
    padding-right: calc(var(--mvp-gutter-x) * 0.5);
    padding-left: calc(var(--mvp-gutter-x) * 0.5);
    margin-top: var(--mvp-gutter-y);
    width: 100%;
    max-width: 100%;
}

.mvp-col {
    flex: 1 0 0%;
}

.mvp-col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.mvp-col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.mvp-col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.mvp-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.mvp-col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.mvp-col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.mvp-col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.mvp-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.mvp-col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.mvp-col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.mvp-col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.mvp-col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.mvp-align-self-center {
    align-self: center !important;
}

.mvp-align-items-baseline {
    align-items: baseline !important;
}

.mvp-m-auto {
    margin: auto !important;
}

.mvp-d-block {
    display: block !important;
}

@media (min-width: 0px) and (max-width: 599px) {
    .mvp-container-sm,
    .mvp-container {
        max-width: 540px;
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 720px;
    }
}

@media (min-width: 840px) and (max-width: 1199px) {
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .mvp-container-xl,
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .mvp-container-xxl,
    .mvp-container-xl,
    .mvp-container-lg,
    .mvp-container-md,
    .mvp-container-sm,
    .mvp-container {
        max-width: 1320px;
    }
}

.primary-button:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px 0px, rgb(211, 211, 211) 0px 0px 0px 1px, rgba(173, 85, 61, 0.3) 0px 0px 0px 3px;
}

.primary-button:active {
    background-color: var(--color-active);
}

.primary-button {
    /* layout */
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    margin: 8px 0 0 0;
    min-height: 48px;
    min-width: 0px;
    padding: 0 24px;
    position: relative;
    /* text */
    font-family: var(--mvp-font-family-cta-text);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    /* appearance */
    background-color: #AD553D;
    color: #fff;
    cursor: pointer;
    /* other */
    border: none;
    border-radius: 8px;
    padding-block: 0;
    padding-inline: 24px;
    /* animation */
    transition: color .2s ease-in, background-color .2s ease-in, filter .2s ease-in, box-shadow .2s ease-in, border-radius .2s ease-in, font-size .2s ease-in;
}

.primary-button:hover {
    background-color: #C26951;
}

.button-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.77;
}

.mvp-heading {
    font-family: var(--mvp-font-family-heading);
}

.mvp-subheading {
    font-family: var(--mvp-font-family-subheading);
}

.mvp-list-item {
    margin-block: 1rem;
}

.primary-green {
    color: var(--color-primary-green);
}

.mvp-m-auto {
    margin: auto !important;
}

.mvp-justify-content-center {
    justify-content: center !important;
}

.mb-0 {
    margin-block: 0 !important;
}

.mbe-1 {
    margin-block-end: 1rem !important;
}

.mbe-2 {
    margin-block-end: 2rem !important;
}

.mbs-1 {
    margin-block-start: 1rem !important;
}

.mbs-3 {
    margin-block-start: 3rem !important;
}

.mvp-text-center {
    text-align: center !important;
}

.mvp-text-uppercase {
    text-transform: uppercase !important;
}

.mvp-ls-1 {
    letter-spacing: 1px;
}

.mvp-fw-semibold {
    font-weight: var(--mvp-fw-semibold) !important;
}

.mvp-fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

.mvp-fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
}

.mvp-fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
}

.mvp-fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.mvp-fs-5 {
    font-size: 1.25rem !important;
}

.mvp-fs-6 {
    font-size: 1rem !important;
}

.mvp-align-self-end {
    align-self: flex-end !important;
}

.mvp-align-self-start {
    align-self: flex-start !important;
}

.mvp-step {
    height: 52px;
}

@media (min-width: 0px) and (max-width: 599px) {
    .mvp-col-sm {
        flex: 1 0 0%;
    }
    .mvp-col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .mvp-mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .mvp-mb-sm-1 {
        margin-bottom: 0.25rem !important;
    }
    .mvp-mb-sm-2 {
        margin-bottom: 0.5rem !important;
    }
    .mvp-mb-sm-3 {
        margin-bottom: 1rem !important;
    }
    .mvp-mb-sm-4 {
        margin-bottom: 1.5rem !important;
    }
    .mvp-mb-sm-5 {
        margin-bottom: 3rem !important;
    }
    .mvp-text-sm-start {
        text-align: left !important;
    }
    .mvp-text-sm-end {
        text-align: right !important;
    }
    .mvp-text-sm-center {
        text-align: center !important;
    }
}

@media (min-width: 600px) {
    .mvp-align-self-md-center {
        align-self: center !important;
    }
    .mvp-col-md {
        flex: 1 0 0%;
    }
    .mvp-col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .mvp-col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .mvp-col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .mvp-col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .mvp-col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .mvp-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .mvp-col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .mvp-col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .mvp-col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .mvp-col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .mvp-col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .mvp-col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .mvp-mt-md-0 {
        margin-top: 0 !important;
    }
    .mvp-mt-md-1 {
        margin-top: 0.25rem !important;
    }
    .mvp-mt-md-2 {
        margin-top: 0.5rem !important;
    }
    .mvp-mt-md-3 {
        margin-top: 1rem !important;
    }
    .mvp-mt-md-4 {
        margin-top: 1.5rem !important;
    }
    .mvp-mt-md-5 {
        margin-top: 3rem !important;
    }
    .mvp-mt-md-auto {
        margin-top: auto !important;
    }
}